body {
    font-family: "Lato", sans-serif;
    font-size: 13pt;
    font-weight: 400;
    color: #888;
}

.navtable {
    background-color: #266f53;
}

.navicon {
    background-color: #266f53;   
}

.page-title {
    display: none;
}